<p>
  <b>Name:</b>
  <%=h @role.name %>
</p>

<p>
  <b>User:</b>
  <%=h @role.user %>
</p>

<p>
  <b>Company:</b>
  <%=h @role.company %>
</p>


<%= link_to 'Edit', edit_role_path(@role) %> |
<%= link_to 'Back', roles_path %>
